<html xmlns="http://www.thymeleaf.org">
	
<head>
	
	<title>List Employees</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
	crossorigin="anonymous">
	
</head>	
<body>
	<div class="container">
		
		<h2>Add Employee</h2>
		<hr/>
		<form th:action="@{/saveEmployee}" th:object="${employee}" method="POST">
			
			<input type="text" th:field ="*{name}" placeholder ="Enter name"  class="form-control col-4 mb-4" />
			<input type="text" th:field ="*{email}" placeholder ="Enter email"  class="form-control col-4 mb-4" />
			<input type="text" th:field ="*{department}" placeholder ="Enter department"  class="form-control col-4 mb-4" />
      
        <button class="btn btn-primary" type="submit">save</button>
			<input type="hidden" th:field="*{id}"/>
			
		</form>
		<hr/>
		<a th:href="@{/list}">Back to list</a>
		
		
		
	</div>
	
</body>
	
	
</html>	