<html xmlns:th="http://www.thymeleaf.org">
 <head>
  <title>
   Student Management System
  </title>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
 
 </head>
 <body>
 <h1>Hello</h1>
 
 <a th:href="@{/student/new}">Add student</a>
 
 <table class = "table table-striped table-bordered">
 <tr>
 <thead class="table-dark">
 <th>Name</th>
 <th>Address</th>
 <th>Email</th><html xmlns:th="http://www.thymeleaf.org">

 <th> Actions</th>
 </thead>
 </tr>
 
 <tr th:each="student:${studentObj}">
 <td th:text="${student.name}"></td>
 <td th:text="${student.address}"></td>
 <td th:text="${student.email}"></td>
 <td><a th:href="@{student/edit/{id}(id=${student.stud_id})}"> update</a>
 <a th:href="@{student/delete/{id}(id=${student.stud_id})}">delete</a>
 </td>
 
 </tr>
 </table>

 </body>
</html>